
@{
    ViewBag.Title = "Welcome";
}

<div class="row">
    <div class="col-xs-12">
        <h2>Welcome to Dvd Library!</h2>
        <p>This system allows us to keep track of Dvds from a Mock repository, as well as create, update, and delete Dvds dynamically using Entity Framework.</p>
        <p class="text-danger">This system is currently in beta.</p>
    </div>
</div>

